@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #F4F5F7;
    font-family: 'Manrope', sans-serif;
  }
  
  