@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #F4F5F7;
    font-family: 'Inter', sans-serif;
  }
  
  